/**
 * Bow theme for reveal.js.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(https://fonts.googleapis.com/css?family=Poppins:400,700,400italic,700italic);
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #d54048;

$mainColor: #fff;
$headingColor: #fff;

$mainFontSize: 42px;
$mainFont: 'Poppins', Helvetica, sans-serif;
$headingFont: 'Poppins', Helvetica, sans-serif;
$codeFont: 'Source Sans Pro', monospace;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingFontWeight: 600;
$linkColor: #312d2c;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

section.has-light-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #222;
	}
}

@mixin bodyBackground() {
	background-image: url("/img/bow-background.png");
	width: 100%;
	height: 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.reveal pre code {
	padding: 15px;
}

.reveal section img {
	background: none;
	border: none;
	box-shadow: none;
}

.reveal table {
	max-height: 40vh;
	overflow: auto;
	display: inline-block;
	max-width: 40vw;
	font-size: 60%;
}
